


<header class="jumbotron">
    <div class="container-fluid">
      <h1>Donkey Daycare</h1>
      <%= link_to 'Enroll', new_owner_path,  class: "btn btn-info" %>
    </div>
</header>

<main class="container-fluid">

  <section id="features" class="row">
    <div class="col-s-5">
      <img class="img-responsive" src="https://ishedrunk.files.wordpress.com/2015/04/asleep-1.jpg">
      <p>Burro Bedding</p>
    </div>
    <div class="col-s-5">
      <img class="img-responsive" src="http://vignette3.wikia.nocookie.net/mlp/images/e/e8/Spa_ponies_massage_S2E18.png/revision/latest?cb=20120219233436">
      <p>Ass Accommodation</p>
    </div>
  </section>
</main>



<footer class="container-fluid">
    <div class="row">
      <div class="col-xl-12 text-center">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
          <li><a href="#"><i class="fa fa-github"></i>Github</a></li>
          <li><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
        </ul>
      </div>
    </div>

</footer>